<h1 class="animated fadeIn fast">Sobre Commic App</h1>
<hr>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium ad itaque dolorem reiciendis vero assumenda consequatur quis libero exercitationem, sit omnis earum explicabo ut incidunt. Maiores quibusdam repellendus possimus.</p>
<p class="animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga praesentium ad itaque dolorem reiciendis vero assumenda consequatur quis libero exercitationem, sit omnis earum explicabo ut incidunt. Maiores quibusdam repellendus possimus.</p>